.input_form
{
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: space-around;
}

.input-matrix-size
{
    border: 1px solid #faa523;
    border-radius: 2px;
}



.column
{
    display: flex;

    box-sizing: border-box;
    width: 50px;
    height: 50px;

    border-radius: 2px;
    background: #eee4da;
    margin: 2px;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: 1.5s ease 0.5s;
}
.show {
    opacity: 1;
    
}
